{% extends 'base.html' %}

{% block title %}login{% endblock %}
{% block content %}
    <h1> login </h1>
    {% if form.errors %}
    <p> username ou senha invalidos</p>
    {% else %}
    <p> Digite seu username e senha para fazer login</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{next}}" />
            <p><input type="submit" value="login"></p>
        </form>
        <p><a href="{% url 'password_reset' %}">Recuperar acesso</a></p>
        <p>Não possui uma conta? <a href="{% url 'register' %}">Criar nova conta</a></p>
{% endblock%}